<h1>每人花费</h1>

<table border='3'>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Money</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.email %></td>
        <td><%= person.name %></td>
        <td><%= person.money %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Person', new_person_path %>

<br>
<%= link_to '活动记录', events_path %>
