
<%= simple_form_for @event do |f| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- date -->
  <%= f.input :date, label: "时间：" %>
  <%= f.input :place, label: "地点："%>
  <%= f.input :cost_total, as: :float, label: "总花费：", placeholder: "0.0" %>
  <%= f.input :payer_id, collection: Person.all, label: "付账者："%>


</table>
  <!-- attendees -->
  <div class="field">
    <%= f.label "参加者人数:" %>
    <table>
      <% Person.all.each do |person| %>
      <tr>
	<td>
	  <%= label_tag person.name %>
	  <%= text_field_tag "event[attendees][#{person.email}]", "0" %>
	</td>
      </tr>
      <% end %>
    </table>
  </div>

    <%= f.submit %>
<% end %>
