
<%= simple_form_for @event, html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }  do |f| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- date -->
  <%= f.input :date, label: "时间" %>
  <%= f.input :place, label: "地点"%>
  <%= f.input :cost_total, as: :float, label: "总花费", placeholder: "0.0" %>
  <%= f.input :payer_id, collection: Person.all, label: "付账者"%>

<div class="form-group">
  <label class="col-sm-3 control-label">
    参加者人数
  </label>
</div>

  <% Person.all.each do |person| %>
  <%= f.input :"event[attendees][#{person.email}]", label: person.name, as: :fake, placeholder: "0" %>
  <% end %>

  <%= f.button :submit %>
<% end %>
