<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Cost total:</strong>
  <%= @event.cost_total %>
</p>

<p>
  <strong>参与者:</strong>
    <% @event.people.each do |person| %>
      <br>
      <%= person.name %> 
    <% end %>
</p>

<p>
  <strong>Cost per person:</strong>
  <%= @event.cost_per_person %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
